<html>
<head>
<title>Check info</title>
</head>
<body style="font-family: arial;">
<table width="480px"  style="border: 1px solid #ccc;border-left: 4px solid #27ba76;padding:12px 20px;font-size: 14px;line-height:24px;width:480px">
	<tr>
		<td>  
		  <p><span style="color:#27ba76">%s</span> 已经核审了您提交的内容，请及时对相关内容做后续处理：</p>
		  <p>一级栏目:<span style="color:#27ba76">%s</span> </p>
          <p>二级栏目:<span style="color:#27ba76">%s</span> </p>
          <table width="240px"  style="border: 1px solid #ccc;border-left: 4px solid #27ba76;padding:12px 20px;font-size: 14px;line-height:24px;width:240px">
              <tr>
                  <td>ID</td>
                  <td>备注</td>
              </tr>
              <tr>
                  <td><span style="color:#27ba76">%s</span> </td>
                  <td><span style="color:#27ba76">%s</span> </td>
              </tr>
          </table>
          <p>你可以登陆进行核对<a href="http://172.18.253.244:8003/src/#/init" style="color:#27ba76; line-height:28px; font-size:13px;font-style:italic">View Details >></a></p>
		  <br/>
		  <p>Thanks<br>IPO</p>
	  </td>
	</tr>
</table>
</body>  
</html>
