<html>
<head>
<title>Submit check list</title>
</head>
<body style="font-family: arial;">
<table width="480px"  style="border: 1px solid #ccc;border-left: 4px solid #27ba76;padding:12px 20px;font-size: 14px;line-height:24px;width:480px">
	<tr>
		<td>  
		  <p><span style="color:#27ba76">%s</span> 提交了以下需要核审的内容，请及时核审相关内容：</p>
		  <p>一级栏目:<span style="color:#27ba76">%s</span> </p>
		  <p>二级栏目:<span style="color:#27ba76">%s</span> </p>
		  <p>需要审核的id有:<span style="color:#27ba76">%s</span> </p>
          <p>你可以登陆进行审核操作<a href="http://172.18.253.244:8003/src/#/init" style="color:#27ba76; line-height:28px; font-size:13px;font-style:italic">View Details >></a></p>
		  <br/>
		  <p>Thanks<br>IPO</p>
	  </td>
	</tr>
</table>
</body>  
</html>
